.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Main Properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

/* Text */

.title {
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-weight:  400;
}
.sub-title {
  color: #EDEFEE;
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight:  300;
}
.lead-text {
  color: #EDEFEE;
  font-family: 'Karla';
  font-size: 18px;
  font-weight:  300;
}
/*  Buttons */
.primary-button {
  background-color: #F4CE14;
  color: black;
  padding: 19px 24px;
  font-family: 'Karla';
  font-weight: 900;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  align-self: end;
}
/* NAV BAR */

#main-logo {
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav li {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: yellow; /* Adjust the hover color */
}
/* Hero Section */
.hero {
  background-color: #495E57;
}
.round-img  {
  width: 100%;
  border-radius: 25px;
  margin-top: -100px;
  left: 0; /* Keep the image aligned to the left edge of the container */
  transform: translateY(100px);
  max-height: 440px;
  object-fit: cover;
}
@media (max-width: 768px) {
  #nav-bar {
    display: none;
  }
  .col-6 {
    width: 100%;
  }
  .round-img {
    transform: none;
    margin-top: 5vw;
    margin-left: 0px;
  }
}

/*  FOOTER */

footer ul{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
}